@model AppUser?

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="index.html"><span class="flaticon-pizza-1 mr-1"></span>KaOs<br><small>Pizza</small></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="index.html" class="nav-link">Ana Sayfa</a></li>
                <li class="nav-item">
                    <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Menu">Menu<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Services">Hizmetler<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="about.html" class="nav-link">Hakkında</a></li>
                <li class="nav-item"><a href="contact.html" class="nav-link">İletişim</a></li>
                @if (!string.IsNullOrEmpty(Model?.UserName))
                {
                    <li class="nav-item">
                        <a class="nav-link "> @Model.Name @Model.Surname.ToUpper() <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " asp-area="" asp-controller="Account" asp-action="Logout">Çıkış Yap<span class="sr-only">(current)</span></a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Account"
                           asp-action="Login">Giriş Yap<span class="sr-only">(current)</span></a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>