
@{
    ViewData["Title"] = "Confirmation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Page Wrapper -->
<div class="page-wrapper">
	<div class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-title">Rezervasyon Talepleri</h3>
				</div>
			</div>
		</div>
		<!-- /Page Header -->
		<!-- Datatable -->
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<table class="datatable table table-stripped">
								<thead>
									<tr>
										<th>Müşteri Adı Soyadı</th>
										<th>Rezervasyon Tarihi</th>
										<th>Rezervasyon Saati</th>
										<th>Kişi Sayısı</th>
										<th>İşlem</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Müşteri Adı Soyadı</td>
										<td>Rezervasyon Tarihi</td>
										<td>Rezervasyon Saati</td>
										<td>Kişi Sayısı</td>
										<td>
											<a href="#" class="btn btn-success btn-disable">Approve</a>
											<a href="#" class="btn btn-disable">Reject</a>
										</td>

									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Datatable -->

	</div>
</div>
<!-- /Page Wrapper -->
