
@{
    ViewData["Title"] = "About";
}

<section class="home-slider owl-carousel img" style="background-image: url(/pizza-gh-pages/images/bg_1.jpg);">

    <div class="slider-item" style="background-image: url(images/bg_3.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">

                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <h1 class="mb-3 mt-5 bread">Hakkında</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Ana Sayfa</a></span> <span>Hakkında</span></p>
                </div>

            </div>
        </div>
    </div>
</section>


<section class="ftco-about d-md-flex">
    <div class="one-half img" style="background-image: url(/pizza-gh-pages/images/about.jpg);"></div>
    <div class="one-half ftco-animate">
        <div class="heading-section ftco-animate ">
            <h2 class="mb-4">KaOs <span class="flaticon-pizza">Pizza</span></h2>
        </div>
        <div>
            <p>Günümüzde fast food kültürünün vazgeçilmez lezzetlerinden biri olan pizza, online sipariş siteleri aracılığıyla daha da erişilebilir hale gelmiştir. Pizza severler için özel olarak tasarlanmış bu siteler, geniş menü seçenekleri, hızlı teslimat, kullanıcı dostu arayüz ve çeşitli ödeme seçenekleri sunarak müşteri memnuniyetini ön planda tutmaktadır.</p>
        </div>
    </div>
</section>