@model FoodDTO
@{
    ViewData["Title"] = "Home Page";
}
<section class="home-slider owl-carousel img" style="background-image: url(/pizza-gh-pages/images/bg_1.jpg);">
    <div class="slider-item">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center" data-scrollax-parent="true">

                <div class="col-md-6 col-sm-12 ftco-animate">
                    <span class="subheading">Lezzetli</span>
                    <h1 class="mb-4">@ViewBag.coverphoto1_Name</h1>
                    <p class="mb-4 mb-md-5">@ViewBag.coverphoto1_Description</p>
                    <p><a href="/Home/Menu" class="btn btn-primary p-3 px-xl-4 py-xl-3">Menüye Git</a></p>
                </div>
                <div class="col-md-6 ftco-animate">
                    <img src="~/pizza-gh-pages/images/bg_1.png" class="img-fluid" alt="">
                </div>

            </div>
        </div>
    </div>

    <div class="slider-item">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center" data-scrollax-parent="true">

                <div class="col-md-6 col-sm-12 order-md-last ftco-animate">
                    <span class="subheading">Gevrek</span>
                    <h1 class="mb-4">@ViewBag.coverphoto2_Name</h1>
                    <p class="mb-4 mb-md-5">@ViewBag.coverphoto2_Description</p>
                    <p><a href="/Home/Menu" class="btn btn-primary p-3 px-xl-4 py-xl-3">Menüye Git</a></p>
                </div>
                <div class="col-md-6 ftco-animate">
                    <img src="~/pizza-gh-pages/images/bg_2.png" class="img-fluid" alt="">
                </div>

            </div>
        </div>
    </div>

    <div class="slider-item" style="background-image: url(/pizza-gh-pages/images/bg_3.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <span class="subheading">Hoşgeldiniz</span>
                    <h1 class="mb-4">Arzu Ettiğiniz Pizza Burada</h1>
                    <p class="mb-4 mb-md-5">İtalyan lezzetlerinin özgün yorumu: Damaklarda iz bırakan tatlar!</p>
                    <p><a href="/Home/Menu" class="btn btn-primary p-3 px-xl-4 py-xl-3">Menüye Git</a></p>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="ftco-intro">
    <div class="container-wrap">
        <div class="wrap d-md-flex">
            <div class="info">
                <div class="row no-gutters">
                    <div class="col-md-4 d-flex ftco-animate">
                        <div class="icon"><span class="icon-phone"></span></div>
                        <div class="text">
                            <h3>0 (216) 456 7890</h3>
                            <p>Bir telefon uzağınızdayız...</p>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex ftco-animate">
                        <div class="icon"><span class="icon-my_location"></span></div>
                        <div class="text">
                            <h3>Caddebostan, Bağdat Caddesi</h3>
                            <p>Kadıköy/istanbul</p>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex ftco-animate">
                        <div class="icon"><span class="icon-clock-o"></span></div>
                        <div class="text">
                            <h3>Pazartesi-Cuma Açığız</h3>
                            <p>08:00 - 21:00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="social d-md-flex pl-md-5 p-4 align-items-center">
                <ul class="social-icon">
                    <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                    <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                    <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="ftco-about d-md-flex">
    <div class="one-half img" style="background-image: url(https://www.tam1catering.com/upload/tam1catering-hizmetlerimiz-kafeterya-hizmetleri-001.jpg);"></div>
    <div class="one-half ftco-animate">
        <div class="heading-section ftco-animate ">
            <h2 class="mb-4">KaOs <span class="flaticon-pizza">Pizza</span>'ya Hoşgeldiniz</h2>
        </div>
        <div>

            <p>Sevgili Misafirlerimiz,</p><br />

            <p>Pizza dünyasının eşsiz lezzetleriyle dolu restoranımıza hoş geldiniz! Sizleri en kaliteli malzemelerle hazırlanan nefis pizzalarımızla tanıştırmak için sabırsızlanıyoruz. Her bir dilimizde lezzetin, tutkunun ve özenin izlerini bulacaksınız.</p><br />

            <p>Misafirperver ekibimiz, sıcak bir atmosferde unutulmaz bir pizza deneyimi yaşatmak için burada. Kalite ve lezzet konusundaki standartlarımızı en üst seviyede tutuyoruz.</p><br />

            <p>Sizleri aramızda görmek bizi mutlu ediyor. Haydi, keyifli bir pizza zamanı için sizi bekliyoruz!</p><br />

            <p>Afiyet olsun!</p>

        </div>
    </div>
</section>


<section class="ftco-appointment">
    <div class="overlay"></div>
    <div class="container-wrap">
        <div class="row no-gutters d-md-flex align-items-center">
            <div class="col-md-6 d-flex align-self-stretch">
                <div id="map"></div>
            </div>
            <div class="col-md-6 appointment ftco-animate">
                <h3 class="mb-3">Bize Ulaşın</h3>
                <div class="text">
                    <h3><span class="icon-phone"></span>   0 (216) 456 7890</h3>
                </div>

                <div class="text">
                    <h3><span class="icon-my_location"></span>   Caddebostan, Bağdat Caddesi</h3>
                    <h5>&#160;&#160;&#160;&#160;&#160;&#160;Kadıköy/istanbul</h5>
                </div>
                <br />
                <div class="text">
                    <h3>Daha fazla ayrıcalık için;</h3>
                    <h4><a href="/Account/Register" class="btn btn-primary p-3 px-xl-4 py-xl-3">Kayıt ol</a> & <a href="/Account/Login" class="btn btn-primary p-3 px-xl-4 py-xl-3">Giriş Yap</a></h4>
                </div>
                
            </div>
        </div>
    </div>
</section>